section.especialidades {
  margin: 10em auto;
  width: 71em;
  /* border: 1px solid red; */

  h2 {
    color: rgba(0, 0, 0, 0.664);
    font-size: 2.8em;
    text-align: center;
  }

  hr {
    margin: 2em auto;
    width: 7em;
    border-top: 2px solid gainsboro;
  }

  > p {
    margin-bottom: 3em;
    text-align: center;
  }

  #logoEspecialidades {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2.5em;
    background-color: white;

    .Ginecología {
      grid-column: 1 / span 2;
    }

    .Pediatría {
      grid-column: 3 / span 2;
    }

    .Dermatología {
      grid-column: 5 / span 2;
    }

    .Psicología {
      grid-column: 1 / span 2;
    }

    .Paidopsiquiatría {
      grid-column: 3 / span 2;
    }

    .Terapia {
      grid-column: 5 / span 2;
    }

    .Nutrición {
      grid-column: 1 / span 3;
    }

    .Acupuntura {
      grid-column: 4 / span 3;
    }

    figure {
      margin: 0 auto;
      margin-bottom: 1.5em;
      width: 3em;
      height: auto;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }

    }

    figcaption {
      font-size: 1.5em;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.664);
      margin-bottom: 1em;
    }

    #logoEspImg {
      padding: 1em;
      box-shadow: 0 0 15PX #01578C;
      border-radius: 1em;
      /* background-color: rgba(245, 245, 245, 0.616); */
      text-decoration: none;
      text-align: center;

      &:hover {
        box-shadow: inset 0 0 20PX #01578C;
      }

      > p {
        color: #01578C;
      }

    }

  }

}
@media only screen and (max-width: 1220px) {
  section.especialidades {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  section.especialidades {
    #logoEspecialidades {
      gap: 1em;
    }
    #logoEspImg {
      box-shadow: 0 0 10PX #01578C;
    }
  }
}
@media only screen and (max-width: 768px) {
  %grid-for-column-one {
    grid-column: 1 / span 3;
  }
  %grid-for-column-two {
    grid-column: 4 / span 3;
  }
  section.especialidades {
    #logoEspecialidades {
      .Ginecología {
        @extend %grid-for-column-one;
      }
      .Dermatología {
        @extend %grid-for-column-one;
      }
      .Paidopsiquiatría {
        @extend %grid-for-column-one;
      }
      .Nutrición {
        @extend %grid-for-column-one;
      }
      .Pediatría {
        @extend %grid-for-column-two;
      }
      .Psicología {
        @extend %grid-for-column-two;
      }
      .Terapia {
        @extend %grid-for-column-two;
      }
      .Acupunura {
        @extend %grid-for-column-two;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  section.especialidades {
    margin: 7em auto;

    > h2 {
      font-size: 9vw;
    }

    #logoEspecialidades {
      display: flex;
      flex-direction: column;
    }

  }
}