.ginecologia .backColor {
  margin: 4em 0;
  background-color: rgba(128, 128, 128, 0.048);
}
.ginecologia .servicios {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 4em 0;
  width: 71em;
  font-weight: 700;
}
.ginecologia .servicios h2 {
  margin-top: 1em;
  text-align: center;
  font-weight: 900;
}
.ginecologia .servicios hr {
  margin: 2em auto;
  border: 0;
  border-top: 2px solid gainsboro;
  width: 90px;
}
.ginecologia .consulta, .servicios figure {
  margin: 0 1em;
  padding: 1em;
  text-align: center;
  box-shadow: 0 0 20px 2px gray;
  border-radius: 1.5em;
  background-color: white;
}
.ginecologia .consulta p {
  margin: 2em 0;
}
.ginecologia .otroColor {
  margin: 1em 0;
  text-align: center;
  color:  gray;
}
.ginecologia .servicios figure {
  margin: auto 0;
  height: auto;
  width: 20em;
  overflow: hidden;
}
.ginecologia .servicios figure img {
  height: auto;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 1220px) {
  .ginecologia .servicios {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .ginecologia .consulta {
    margin: 0;
    margin-bottom: 2em;
  }
  .ginecologia .servicios {
    flex-direction: column;
    align-items: center;
  }
  .ginecologia .servicios figure {
    width: 100%;
  }
}
