.paidopsiquiatria .backColor {
  margin: 4em 0;
  background-color: rgba(128, 128, 128, 0.048);
}
.paidopsiquiatria .servicios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5em;
  margin: 0 auto;
  padding: 4em 0;
  width: 71em;
  font-weight: 700;
}
.paidopsiquiatria .servicios h2 {
  text-align: center;
  font-weight: 900;
}
.paidopsiquiatria .servicios hr {
  margin: 2em auto;
  border: 0;
  border-top: 2px solid gainsboro;
  width: 90px;
}
.paidopsiquiatria .servicios p {
  margin: 1.5em 0;
  text-align: center;
}
.paidopsiquiatria .consulta {
  padding: 1em;
  box-shadow: 0 0 20px 2px gray;
  line-height: 1.5em;
  border-radius: 1.5em;
  background-color: white;
}
@media only screen and (max-width: 1220px) {
  .paidopsiquiatria .servicios {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .paidopsiquiatria .backColor {
    margin: 5em 0;
  }
}