%h2-config {
  text-align: center;
  font-weight: 900;
}
%hr-config {
  margin: 2em auto;
  border: 0;
  border-top: 2px solid gainsboro;
  width: 90px;
}
%p-config {
  margin: 1.5em 0;
  text-align: center;
}
%servicios-config {
  padding: 2em 0;
  box-shadow: 0 0 20px 2px gray;
  line-height: 2em;
  border-radius: 1.5em;
  background-color: white;
}
section.paidopsiquiatria {
  .backColor {
    margin: 4em 0;
    background-color: rgba(128, 128, 128, 0.048);

    .servicios {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5em;
      margin: 0 auto;
      padding: 4em 0;
      width: 71em;
      font-weight: 700;

      .consulta {
        @extend %servicios-config;
        h2 {
          @extend %h2-config;
        }

        hr {
          @extend %hr-config;
        }

        p {
          @extend %p-config;
        }

      }

    }
  }
}
@media only screen and (max-width: 1220px) {
  section.paidopsiquiatria {
    .backColor {
      .servicios {
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  section.paidopsiquiatrianutricion {
    .backColor {
        margin: 5em 0;
    }
  }
}